.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px 40px;
  padding-top: 45px;
  max-width: 880px;
  border-bottom: solid 1px rgba(84,84,84, 0.7);
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 0 0 73px;
    padding: 28px 0;
  }
}