.profile__profile-info {
  margin: 0 30px;
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .profile__profile-info {
    margin: 0 19px 36px;
    font-size: 14px;
    line-height: 17px;
  }
}