.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.profile__avatar::before,
.profile__avatar::after {
  content: '';
  position: absolute;
  transition: 0.3s;
  pointer-events: none;
}

.profile__avatar::before {
  background: rgba(0, 0, 0, 0);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.profile__avatar::after {
  width: 26px;
  height: 26px;
  background-image: url('../../../img/edit-icon.svg');
  background-size: contain;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__avatar:hover::before {
  background: rgba(0, 0, 0, 0.8);
}

.profile__avatar:hover::after {
  opacity: 1;
}


@media screen and (max-width: 767px) {
  .profile__avatar {
    margin-bottom: 26px;
  }
}
