.card__delete {
  background: url(../../../img/delete.png) center no-repeat;
  border: none;
  width: 20px;
  height: 18px;
  outline: none !important;
  position: absolute;
  top: 18px;
  right: 15px;
  
}



.card__delete:hover {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
